<component name="ProjectRunConfigurationManager">
    <configuration default="false" name="Spring6AiIntroApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
        <option name="ACTIVE_PROFILES" value="local"/>
        <option name="envFilePaths">
            <option value="$PROJECT_DIR$/.run/.deepseekapi-key-env"/>
        </option>
        <module name="spring-ai-prompt-engineering"/>
        <selectedOptions>
            <option name="environmentVariables"/>
        </selectedOptions>
        <option name="SPRING_BOOT_MAIN_CLASS" value="springAiPrompts.Spring6AiIntroApplication"/>
        <method v="2">
            <option name="Make" enabled="true"/>
        </method>
    </configuration>
</component>