<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring6AiIntroApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="local" />
    <option name="envFilePaths">
      <option value="$PROJECT_DIR$/.run/.openapi-key-env" />
    </option>
    <module name="spring-6-ai-intro" />
    <selectedOptions>
      <option name="environmentVariables" />
    </selectedOptions>
    <option name="SPRING_BOOT_MAIN_CLASS" value="guru.springframework.spring6aiintro.Spring6AiIntroApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>